.book-title{
    font-size: 17px;
    margin: 10px 0;
    display: inline-block;
    line-height: 24px;
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #ff5622;
}

.book-title:hover{
    color: #333;
    text-decoration: none;
}

.book-item{
    margin-bottom: 22px;
    border: 1px solid #ccc;
}

.book-price{
    font-size: 17px;
    font-weight: 600;
    color: #ff3333;
}
.book-list{
    padding: 0 5px;
}